<div class="catalogView">
	<div id="header">
		<div class="brands">
			<span ng-click="selectBrand()" ng-repeat="brand in brands" 
				ng-class="{selected: selectedBrands.indexOf(this.brand.code) !== -1}"
				data-code="{{brand.code}}">{{brand.code | capitalize}}</span>
		</div>
		<div class="resultsCount">{{filtered.length}}</div>
		<hr/>
	</div>

	<div class="orderBy">
		<div>
			<span>Order by price:</span>
			<select name="priceOrder" class="orderPrice" ng-model="productPriceOrder">
				<option value="" selected="selected">---</option>
				<option value="price">Ascending</option>
				<option value="-price">Descending</option>
			</select>
		</div>
	</div>
	
	<!--Here's the Catalog Items. You can make anything into a product, 
		just copy and paste the onclick attribute from one of the products 
		below.
	-->
	<ul id="catalog">

		<li ng-repeat="boot in filtered = (boots | filter: byBrand) | orderBy:productPriceOrder:reserve" class="product" 
				scroll-if="boot.id == prevItem" data-id="{{boot.id}}" data-brandcode="{{boot.brandCode}}">
			<a href="#/boots/{{boot.id}}" class="bootDetailLink">
				<img ng-src="/images/boots/{{boot.brandCode}}/{{boot.id}}.jpg">
				<span class="price">{{boot.price | currency:"$"}}</span><b>{{boot.shortName}}</b>
			</a>
		</li>

	</ul>
	<!--/ Catalog-->
</div>