<div class="productView">
	<div class="productDetail" data-productId="{{productData.id}}">
		<div class="back">
			<a href="#/?productId={{productData.id}}" class="buttonLink">Back to catalog</a>
		</div>
		<div class="bigImage">
			<img ng-src="{{mainImgUrl}}">
		</div>
		<div class="alternativeImages">
			<ul>
				<li ng-repeat="url in productData.alternativeImages">
					<img ng-src="{{url}}" style="width=100;" ng-click="setImage($index)" ng-class="{selected: $index==selectedImgIndex}">
				</li>
			</ul>
		</div>
		<div class="productInfo">
			<div class="name">
				<span>{{productData.name}}</span>
			</div>
			<div class="productPrice">
				<span class="label">Price: </span><span class="amount">{{productData.price | currency:"$"}}</span>
			</div>
			<div class="actions">
				<a href="#" id="purchaseBt" class="buttonLink" ng-click="buyProduct($event)">Add to cart</a>
			</div>
		</div>
	</div>
</div>
