.cartHeaders,.totalRow {
	display:none;
}
.simpleCart_items{
	overflow-y:auto;
	overflow-x:hidden;
	height:324px;
	width:243px;
	margin-bottom:20px;
}
.itemContainer{
	clear:both;
	width:229px;
	padding:11px 0;
	font-size:11px;
}
.itemImage{
	float:left;
	width:60px;
}
.itemName{
	float:left;
	width:85px;
}
.itemPrice{
	float:left;
	width:85px;
	color:#418932;
}
.itemQuantity{
	float:left;
	width:33px;
	margin-top:-12px;
	vertical-align:middle;
}
.itemQuantity input{
	width:20px;
	border:1px solid #ccc;
	padding:3px 2px;
}

.itemTotal{
	float:left;
	color:#c23f26;
	margin-top:-6px
}




/* My customizations */
.contentHeader span {
	color: #fff;
	font-size: 16px;
	position: relative;
	top: 4px;
}

#header {
	border-radius: 5px 5px 0 0;
	margin: 0;
	background: none;
	width: 725px;
}
#header h1 {
	margin-left: 10px;
}
#catalog {
	height: auto;
	margin: 0;
	border-radius: 0 0 5px 5px;
	width: 725px;
}
#catalog li {
	margin: 25px 15px 75px;
}
#catalog li img {
	width: 137px;
}
#sidebar {
	border-radius: 5px;
	margin: -83px 0 0 0;
	padding-left: 5px;
	width: 275px;
}
#sidebar h2 {
	margin: 10px 0 0 10px
}
#header, #catalog, #sidebar {
	background-color: #fff;
}

.simpleCart_items .itemContainer .itemImage img {
	width: 50px;
}

.brands {	
	margin: 0 0 15px 20px;
}

.brands span {
	color: #429132;
	font-size: 16px;
	margin-right: 10px;
	cursor: pointer;
}
.brands span.selected {
	color: #fff;
	background-color: #429132;
	padding: 5px;
	border-radius: 5px;
}

.price {
	background: none;
	background-color: #429132;
	border-radius: 5px;
	width: 60px;
	padding: 0;
	text-align: center;
}

#sidebar a.simplecart_checkout, .checkoutemptylinks a.simplecart_checkout {
	margin: 0;
}

.itemQuantity input {
	width: 35px;
}
.itemTotal{
	margin: -6px 0 0 10px;
}

.grandTotal {
	display: inline;
	margin-left: 15px;
	font-size: 18px;
	color: #429132;
}
.grandTotal .orderTotal {
	color: #000;
}
