.cartHeaders,.totalRow {
	display:none;
}
.simpleCart_items{
	overflow-y:auto;
	overflow-x:hidden;
	height:324px;
	width:243px;
	margin-bottom:20px;
}
.itemContainer{
	clear:both;
	width:229px;
	padding:11px 0;
	font-size:11px;
}
.itemImage{
	float:left;
	width:60px;
}
.itemName{
	float:left;
	width:85px;
}
.itemPrice{
	float:left;
	width:85px;
	color:#418932;
}
.itemQuantity{
	float:left;
	width:33px;
	margin-top:-12px;
	vertical-align:middle;
}
.itemQuantity input{
	width:20px;
	border:1px solid #ccc;
	padding:3px 2px;
}

.itemTotal{
	float:left;
	color:#c23f26;
	margin-top:-6px
}




/* My customizations */
.contentHeader span {
	color: #fff;
	font-size: 16px;
	position: relative;
	top: 4px;
}

#header {
	border-radius: 5px 5px 0 0;
	margin: 0;
	background: none;
	width: 725px;
	position: relative;
}
#header h1 {
	margin-left: 10px;
}
#catalog {
	height: auto;
	margin: 0;
	border-radius: 0 0 5px 5px;
	width: 725px;
}
#catalog li {
	margin: 25px 15px 75px;
}
#catalog li img {
	width: 137px;
}
#catalog li b {
	font-size: 14px;
}
#sidebar {
	border-radius: 5px;
	padding-left: 5px;
	width: 275px;
	position: absolute;
	right: 30px;
}
#sidebar h2 {
	margin: 10px 0 0 10px
}
#header, #catalog, #sidebar {
	background-color: #fff;
}

.simpleCart_items .itemContainer .itemImage img {
	width: 50px;
}

.brands {	
	margin: 0 0 15px 20px;
}

.brands span {
	color: #429132;
	font-size: 16px;
	margin-right: 10px;
	cursor: pointer;
	padding: 2px 5px 2px 5px;
}
.brands span.selected {
	color: #fff;
	background-color: #429132;
	border-radius: 5px;
}

.price {
	background: none;
	background-color: #429132;
	border-radius: 5px;
	width: 60px;
	padding: 0;
	text-align: center;
}

#sidebar a.simplecart_checkout, .checkoutemptylinks a.simplecart_checkout {
	margin: 0;
}

.itemQuantity input {
	width: 35px;
}
.itemTotal{
	margin: -6px 0 0 10px;
}

.grandTotal {
	display: inline;
	margin-left: 15px;
	font-size: 18px;
	color: #429132;
}
.grandTotal .orderTotal {
	color: #000;
}

.resultsCount {
	position: absolute;
	top: 13px;
	right: 10px;
	font-size: 22px;
	color: #fff;
	background-color: #429132;
	border-radius: 5px;
	padding: 2px 5px 2px 5px;
}

.orderProcessMsg {
	color: #429132;
	font-size: 20px;
	margin: 140px 0 0 30px;
}

.orderBy {
	width: 725px;
	float: left;
	background-color: #fff;
	position: relative;
}
.orderBy div {
	position: absolute;
	top: -15px;
	right: 10px;
}

.categoryPage .shoppingCart {
	margin-top: -83px;
}

.hidden {
	display: none;
}

/* START: Catalog view */
.catalogView .product img {
	cursor: pointer;
}
.catalogView .product b {
	position: relative;
	top: 8px;
}
/* END: Catalog view */

/* START: Product detail view */
.productPage .shoppingCart {
	margin-top: 0;
}
.productView {
	background-color: #fff;
	padding-top: 20px;
	float: left;
	margin: 0;
	border-radius: 5px 5px 5px 5px;
	width: 725px;
	position: relative;
}
.productView .back {
	height: 30px;
}
.productView .buttonLink {
	text-decoration: none;
	background-color: #fff;
	padding: 5px;
	color: #429132;
	border-radius: 5px;	
}
.productView a.buttonLink:hover {
	color: #fff;
	background-color: #429132;
}
.productView .actions .buttonLink {
	font-size: 16px;
	font-style: italic;
}
.productView .bigImage img {
	float: left;
}
.productView .bigImage img {
	width: 469px;
	height: 318px;
}
.productView .bigImage, .productView .productInfo, .productView .back {
	position: relative;
	left: 30px;
}
.productView .alternativeImages {
	position: relative;
	left: 60px;
}
.productView .alternativeImages img {
	cursor: pointer;
	width: 100px;	
}
.productView .alternativeImages img.selected {
	border: 1px solid #429132;
}
.productInfo {
	margin-top: 20px;
}
.productInfo div {
	margin-bottom: 30px;
}
.productInfo .name {
	font-size: 24px;
	color: #429132;
	width: 90%;
}
.productInfo .productPrice .label {
	font-size: 25px;
}
.productInfo .productPrice .amount {
	font-size: 22px;
	background-color: #429132;
	padding: 5px;
	color: #fff;
	border-radius: 5px;
}
/* END: Product detail view */